html,
body {
  font-size: 16px;
  /* 
  height: 100vh;
  width: 100vw;
  margin: 0;*/

  /* background-image: url('back-2.gif'); */
  background-color: #fff; /*#f6ebd6;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background-color: #fff; /*#f6ebd6;*/
  /* background-image: url('back-2.gif'); */
}
